<div class="container mb-5" style="margin-top:95px;">
  <div class="row">

    <div class="col-md-7 col-sm-12" style="padding-right: 10px;">
      <!-- <div class="px-3 col-md-8 col-sm-12 offset-md-2 col-lg-4 offset-lg-4 mt-2"> -->

      <div class="text-center mb-0 mt-1 p-0">
        <h1 class="p-0 m-0">Tareas</h1>
      </div>

      <div class="mt-0" style="margin-bottom:65px;">
        <!-- <div class="offset-md-2 col-lg-4 offset-lg-4 mt-2"> -->
        <div class="row">
          <div class="col">
            <mat-form-field appearance="fill" class="w-100 p-0">
              <mat-label>Categoria</mat-label>
              <mat-select [(value)]="selected" (selectionChange)="filtroCategorias($event.value)"
                [(ngModel)]="categoriaSeleccionada">
                <mat-option value=0>None</mat-option>
                <mat-option *ngFor="let item of listaCategorias" value="{{item.id}}">{{item.descripcion}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-auto ">
            <mat-icon (click)="openModal(template)" class="mt-3 me-2">filter_list</mat-icon>

          </div>

        </div>

        <app-item-tarea *ngFor="let item of listaTareas" [item]="item">

        </app-item-tarea>

      </div>

    </div>

    <div class="col-md-5 d-none d-md-block" style="padding-left: 0px; border-left: 1px solid #2F86A6">
      <app-lista-bitacora></app-lista-bitacora>
    </div>

  </div>
</div>




<footer class="page-footer font-small purple pt-1 fixed-bottom px-1">
  <div class=" row p-0">
    <div class="form-floating col">
      <input [(ngModel)]="tituloNuevaTarea" type="text" class="form-control" id="floatingInput"
        placeholder="Descriptión de la Tarea" maxlength="50">
      <label for="floatingInput">Tarea Rápida</label>

    </div>
    <div class="col-auto  ">
      <button mat-raised-button (click)="tareaRapida()" color="primary" [mat-dialog-close]
        class="text-center mt-2">Agregar</button>
    </div>
  </div>
</footer>


<!-- <pre class="card card-block card-header">Agregar Colaborador</pre> -->
<ng-template #template>
  <div class="modal-body ">
    <div class="row text-center">
      <h2>Filtros</h2>

    </div>


    <div class="row p-2">
      <mat-card class="example-card">
        <mat-card-title>
          <p>Categoria</p>
        </mat-card-title>

        <mat-card-content>
          <select class="form-select" aria-label="Default select example" [(ngModel)]="categoriaSeleccionadaFiltro">
            <option selected value="0">None</option>
            <option *ngFor="let item2 of listaCategoriasFiltro" value="{{item2.id}}">{{item2.descripcion}}</option>
          </select>
        </mat-card-content>

      </mat-card>
    </div>

    <div class="row p-2">
      <mat-card class="example-card">
        <mat-card-title>
          <p>Prioridad</p>
        </mat-card-title>

        <mat-card-content>
          <mat-radio-group aria-label="Prioridad" [(ngModel)]="prioridad">
            <div class="d-flex justify-content-between">
              <div class="col-2 p-0">
                <mat-radio-button value="1"></mat-radio-button>
                <span>1</span>
              </div>
              <div class="col-2 p-0">
                <mat-radio-button value="2"></mat-radio-button>
                <span>2</span>
              </div>
              <div class="col-2 p-0">
                <mat-radio-button value="3"></mat-radio-button>
                <span>3</span>
              </div>
              <div class="col-2 p-0">
                <mat-radio-button value="4"></mat-radio-button>
                <span>4</span>
              </div>
              <div class="col-2 p-0">
                <mat-radio-button value="5"></mat-radio-button>
                <span>5</span>
              </div>

            </div>
          </mat-radio-group>
        </mat-card-content>

      </mat-card>
    </div>


    <div class="row p-2">
      <mat-card class="example-card">
        <mat-card-title>
          <p>Estado</p>
        </mat-card-title>

        <mat-card-content>
          <mat-radio-group aria-label="Estado" [(ngModel)]="estado">
            <div class="d-flex justify-content-between">
              <div class="col-4 p-0">
                <mat-radio-button value="1"></mat-radio-button>
                <span>Creado</span>
              </div>
              <div class="col-4 p-0">
                <mat-radio-button value="2"></mat-radio-button>
                <span>En Proceso</span>
              </div>
              <div class="col-4 p-0">
                <mat-radio-button value="3"></mat-radio-button>
                <span>Terminado</span>
              </div>


            </div>
          </mat-radio-group>
        </mat-card-content>

      </mat-card>
    </div>

    <div class="row p-2">

      <mat-card class="example-card">
        <mat-card-title>
          <p>Fecha</p>
        </mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        <mat-card-content>
          <mat-radio-group aria-label="Fecha" [(ngModel)]="fechaFiltro">
            <div class="d-flex justify-content-between">
              <div class="col-4 p-0">
                <mat-radio-button value="1"></mat-radio-button>
                <span>Creación</span>
              </div>
              <div class="col-4 p-0">
                <mat-radio-button value="2"></mat-radio-button>
                <span>Límite</span>
              </div>
            </div>
          </mat-radio-group>
        </mat-card-content>
        <mat-card-actions>
          <div class="row">
            <div class="col">
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [displayMonths]="displayMonths"
                      [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers"
                      ngbDatepicker #d="ngbDatepicker" [(ngModel)]="modelDesde">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                        <mat-icon>date_range</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col">
              <form class="form-inline">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [displayMonths]="displayMonths"
                      [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers"
                      ngbDatepicker #d2="ngbDatepicker" [(ngModel)]="modelHasta">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                        <mat-icon>date_range</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>


        </mat-card-actions>
      </mat-card>

    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 col-sm-12 ">
        <button type="button" class="btn btn-primary  btn-block" (click)="hacerFiltro()"
          style="width:100%">Filtro</button>

      </div>
      <div class="col-md-6 col-sm-12 mt-2">
        <button type="button" class="btn btn-success btn-block " (click)="limpiarFiltro()" style="width:100%">Limpiar
          Filtros</button>

      </div>
    </div>

    <!-- <span>{{modelDesde.day}}</span> -->
  </div>
</ng-template>
