<div class="fondo text-white  pt-3 ">
  <div class="  p-0 ">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start  p-0">
      <ul class="nav col-12 text-nowrap  justify-content-center my-md-0 text-small  p-0 ">
        <div class="row  flex-nowrap">
          <div class="col p-0 text-center me-sm-0 me-md-3 me-lg-5">
            <li class="p-0">

              <a routerLink="tareas" (click)="ActualizaNoti(1)" class="nav-link  p-0 me-3">
                <mat-icon> list_alt</mat-icon>

              </a>
              <a routerLink="tareas" (click)="ActualizaNoti(1)" class="nav-link  p-0 me-3 mt-1">

                Tareas
              </a>
            </li>
          </div>
          <div class="col p-0 text-center me-sm-0 me-md-3 me-lg-5">
            <li class="p-0">

              <a routerLink="tableros" (click)="ActualizaNoti(1)" class="nav-link  p-0 me-3">
                <mat-icon> table_chart</mat-icon>

              </a>
              <a routerLink="tableros" (click)="ActualizaNoti(1)" class="nav-link  p-0 me-3 mt-1">

                Tableros
              </a>
            </li>
          </div>
          <div class="col p-0 text-center  d-md-none me-sm-0 me-md-3 me-lg-5">
            <li class="p-0">

              <a routerLink="bitacora" (click)="ActualizaNoti(1)" class="nav-link  p-0 me-3">
                <mat-icon>access_time</mat-icon>

              </a>
              <a routerLink="bitacora" (click)="ActualizaNoti(1)" class="nav-link  p-0 me-3 mt-1">

                Bitacora
              </a>
            </li>
          </div>
          <div class="col p-0 text-center me-sm-0 me-md-3 me-lg-5">
            <li class="p-0">

              <a routerLink="categorias" (click)="ActualizaNoti(1)" class="nav-link  p-0 me-3">
                <mat-icon>bookmark_border</mat-icon>
              </a>
              <a routerLink="categorias" (click)="ActualizaNoti(1)" class="nav-link  p-0 me-3 mt-1">

                Categoria
              </a>
            </li>
          </div>
          <div class="col p-0 text-center me-sm-0 me-md-3 me-lg-5">
            <li class="p-0">

              <a routerLink="about" (click)="ActualizaNoti(1)" class="nav-link  p-0 me-3">
                <mat-icon>domain</mat-icon>

              </a>
              <a routerLink="about" (click)="ActualizaNoti(1)" class="nav-link  p-0 me-3 mt-1">

                About
              </a>


            </li>
          </div>
        </div>




      </ul>
    </div>
  </div>
</div>
<!-- <div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-center">

    <div class="text-end">
      <button type="button" class="btn btn-light text-dark me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </div>
</div> -->
