<!-- <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">

        {{item.titulo}}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
   -->


<div class="card mt-2">
  <div class="card-body p-0 ">
    <div class="container px-1 pt-1">
      <div class="row align-content-between flex-nowrap m-0 p-0 ">
        <div class="col-11 m-0 p-0 " (click)="openDialog(item)">
          <div class="row p-0 m-0 flex-nowrap">
            <div class="col-1 p-0 m-0 ms-1 ">
              <img src="{{iconoPrioridad}}" class="center-block" alt="image" style="width:20px; float:left">
            </div>
            <div class="col-10">
              {{item.titulo}}
            </div>
            <div class="col-1 p-0 m-0 " *ngIf="item.id_tablero" placement="left" ngbTooltip="{{item.tablero}}">
              <!-- <mat-icon class="icon-display"> table_chart</mat-icon> -->
              <img class="m-0 p-0" src="./assets/tareatablero.png" width="15" height="15">
            </div>
          </div>




          <div class="row p-0 ms-0 flex-nowrap">
            <div class="col-4 d-flex  p-0 d-flex {{ colorFecha }}" matTooltip="Fecha límite"
              matTooltipClass="custom-tooltip">
              <!-- <mat-icon>date_range</mat-icon> -->
              <img class="m-0 ms-1 mt-1 p-0" src="./assets/tareacal.png" width="15" height="15">
              <span class="mt-1 ms-1"> {{ item.fechalimite | date : 'dd/MM/yyyy' }} </span>

            </div>
            <div class="col-4 mt-1 p-0 text-end {{ colorAtrasada }}" matTooltip="Tarea que debería estar Finalizada"
              matTooltipClass="custom-tooltip">
              Atrasadas
            </div>

            <div class="col-2  align-self-center p-2 ">
              <div class="row p-0 m-0 flex-nowrap barraEstado" style="width: 46px; height: 11px;">
                <div class=" p-0" (click)="cambiaEstado(1)" style="width: 15px; height: 10px;"
                  [ngStyle]="{'background-color': color1}">

                </div>
                <div class=" p-0" (click)="cambiaEstado(2)" style="width: 15px; height: 10px"
                  [ngStyle]="{'background-color': color2}">

                </div>
                <div class=" p-0" (click)="cambiaEstado(3)" style="width: 15px; height: 10px;"
                  [ngStyle]="{'background-color': color3}">

                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="col-1 p-0 align-self-center" (click)="openModal(template)">
          <!-- <mat-icon>refresh</mat-icon> -->
          <span class="text-center ms-0">
            <!-- <mat-icon class="icon-display-next m-0 p-0">navigate_next</mat-icon> -->
            <img class="m-0 p-0" src="./assets/fletasub.png" width="25" height="25">
          </span>
        </div>
      </div>
    </div>

  </div>




</div>




<!-- Modal de Sub tareas -->
<ng-template #template class="modal fade modal-sm" id="myModal" role="dialog">
  <div class="modal-header">
    <h3 class="text-center"> <strong>Sub Tareas</strong> </h3>
    <button type="button" class="btn-dark close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body ">

    <div class="containter">


      <div class=" row p-0 mt-2 flex-nowrap">
        <!-- Escribe una subTarea personalizada -->
        <div class="col-9 px-0">
          <mat-form-field class="example-form-field">
            <mat-label>Título</mat-label>
            <input matInput type="text" [(ngModel)]="tituloSubtarea">
            <button matSuffix mat-icon-button aria-label="Clear">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <!-- Guarda la subTarea o si selecciono una plantilla, trea las subtareas de la plantilla -->
        <div class="col-3 me-1 px-0 ">
          <button mat-raised-button (click)="agregaSubTarea(item.id)" color="primary" [mat-dialog-close]
            class="text-center mt-2 px-2">Agregar</button>
        </div>
        <!-- Selecciona una Platilla -->

      </div>
      <div class="row mb-3">
        <div class="col-3">
          <p>Plantilla:</p>
        </div>
        <div class="col-9">

          <select class="form-select" aria-label="Default select example" [(ngModel)]="plantillaSeleccionada">
            <option value="0">Ninguno</option>
            <option *ngFor="let plantilla of listaPlantillas" [value]="plantilla.id">{{plantilla.titulo}}</option>
          </select>


        </div>
      </div>


      <hr>

      <div class="containter pe-4">
        <div *ngFor="let item of listaSubTareas" class="row">
          <div class="col-11">


            <div *ngIf="item.activo == 1; else elseBlock">
              <mat-checkbox class="example-margin" [checked]="true" (change)="cambioEstado(item.id)" color="primary">
                {{item.titulo}}
              </mat-checkbox>
            </div>
            <ng-template #elseBlock>
              <mat-checkbox class="example-margin" [checked]="false" (change)="cambioEstado(item.id)" color="primary">
                {{item.titulo}}
              </mat-checkbox>
            </ng-template>



          </div>
          <div class="col-1">
            <mat-icon (click)="deleteSubTarea(item.id)">delete_outline</mat-icon>
          </div>
        </div>


      </div>
    </div>

    <hr>
    <!-- Guardar plantillas  -->


    <div class="modal-footer">
      <p>Plantilla Subtareas</p>
      <div class="containter">
        <div class="row flex-nowrap">
          <div class="col-9 px-0">
            <mat-form-field class="example-form-field">
              <mat-label>Nombre Plantilla</mat-label>
              <input matInput type="text" [(ngModel)]="tituloPlantilla">
              <button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

          </div>
          <div class="col-3">
            <button class="btn btn-success  mt-2 px-2" (click)="guardaPlantilla()">Guardar</button>

          </div>

        </div>

      </div>

    </div>


    <br>
    <!-- <button type=" button" class="btn btn-primary pull-right" (click)="confirm()">Agregar</button> -->
    <!-- <button type="button" class="btn btn-primary" (click)="decline()">No</button> -->
  </div>
</ng-template>

<!-- {{ listaPlantillas | json }} -->
